extends ../layouts/application.pug

block header
  = t('views.users.edit.title')

block content
  form(action=route('editUser', { id: user.id }) method='post')
    +input(user, 'email', t('views.users.email'), errors)(type="email")
    +input(user, 'password', t('views.users.password'), errors)(type="password")
    +input(user, 'firstName', t('views.fields.name'), errors)(type="text")
    +input(user, 'lastName', t('views.users.lastName'), errors)(type="text")
    input(name="_method" type="hidden" value='patch')
    +submit(user)(value=t('views.submit.edit'))