extends ../layouts/application.pug

block header
    = t('views.labels.new.title')

block content
    +formFor()(action=route('labels') method='post')
        +input(label, 'name', t('views.fields.name'), errors)(type="text")
        +submit(label)(value=t('views.submit.save'))