extends ../layouts/application.pug

block content
	.row.justify-content-start
		.form-control.shadow-sm.bg-light.bg-gradient.rounded-3.w-50
			h1.h3.my-3.fw-bold= t('views.tasks.new.title')
			+formFor()(action=route('tasks') method='post')
				+input(task, 'name', t('views.fields.name'), errors)(type='text')
				+textarea(task, 'description', t('views.tasks.description'), errors)(type='text')
				+select(task, 'statusId', t('views.tasks.status'), errors, taskStatuses)
				+select(task, 'labels', t('views.tasks.labels'), errors, labels)(multiple="multiple")
				+select(task, 'executorId', t('views.tasks.executor'), errors, users)
				+submitSm(task)(value=t('views.submit.create'))