extends ../layouts/application.pug

block header
  = t('views.session.new.title')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', t('views.users.email'), errors)(type="text")
    +input(signInForm, 'password', t('views.users.password'), errors)(type="password")
    +submit(signInForm)(value=t('views.session.new.submit'))
